html {
    font-size: 10px;
}

body {
    margin: 0;
    background: #eeeeee;
    color: #333;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

@media (max-width: 460px) {
    h1 {
        font-size: 3.5rem;
        line-height: 1.2;

    }
}

h2 {
    font-size: 3.25rem;
}

a {
    color: #74638f;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
    #img-caption {
        font-size: 1.4rem;
    }
}

#headline {
    margin: 50px 0;
    text-align: center;

}

.nav-item {
    padding: 16px;
}

.container {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    width: 100%;
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "about about about"
    "quote-area quote-area quote-area"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;

}

#title {
    font-size: 4em;
    font-weight: normal;
    margin: 0;
}

.sub-title {
    font-size: 1.7em;
    font-weight: normal;
    color: white !important;
}

a {
    color: #eeeeee;
    text-decoration: none;
}

.nav a:hover {
    cursor: pointer;
    background: #4e4e4e;
}

.nav-links {
    margin-left: 15vw;
}

.nav {
    grid-area: nav;
    background: #1b1c1d;
    display: flex;
    align-items: center;
    min-height: 55px;
    position: sticky;
    justify-content: flex-start;
    top: 0;
    z-index: 100;
}

.header {
    grid-area: header;
    background: #1b1c1d;
    display: flex;
    min-height: 700px;
    color: #eeeeee;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}


.about {
    grid-area: about;
    display: flex;
    flex-direction: row;
    min-height: 700px;
    justify-content: space-evenly;
    align-items: center;

}

.about-content-text p {
    font-size: 1.33em;
    line-height: 30px;
}

.about-content-text h3 {
    font-size: 2em;

}

.about-content-text {
    width: 30vw;
}

.quote {
    grid-area: quote-area;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    background: #1b1c1d;
    font-weight: 700;
    font-size: 2em;
    justify-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, .9);
}

.footer {
    grid-area: footer;
    display: flex;
    min-height: 350px;
    padding-top: 5vh;
    align-items: flex-start;
    flex-direction: row;
    background: rgba(255, 255, 255, .9);
    justify-content: space-evenly;
}

.footer a {
    color: #747474;
}

footer h4 {
    font-size: 1.1em;

}


figcaption {
    font-style: italic;
    padding: 2px;
    text-align: center;
}